:root {
    --background-color: #1e1e2f;
    --surface-color: #2d2d44;
    --card-bg-color: #2b2b41;
    --accent-color: #5c7cfa;
    --text-color: #ffffff;
    --secondary-text-color: #bdbdbd;
    --curve: 20px;
}

* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

#root {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin-bottom: 20px;
}

.header-title {
    color: var(--text-color);
    font-weight: bold;
    display: flex;
    align-items: center;
}

.header-title span {
    color: var(--accent-color);
}

.header-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-field {
    background-color: var(--surface-color);
    border-radius: 8px;
    width: 300px;
}

.add-book-button {
    background-color: var(--accent-color);
    color: var(--text-color);
    border-radius: var(--curve);
}

.add-book-button:hover {
    background-color: #3a58c8;
}

.content {
    display: flex;
    flex: 1;
    height: calc(100% - 140px); /* Adjust height to account for header and padding */
    overflow: hidden;
}

input {
    border: 1px solid cornflowerblue !important;
    border-radius: 10px;
}

.filter-menu {
    overflow: auto;
    width: 300px;
    margin-right: 20px;
    background-color: var(--surface-color);
    padding: 20px;
    border-radius: var(--curve);
}

.card__title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--text-color);
}

.card__author {
    font-size: 16px;
    color: var(--secondary-text-color);
    margin-bottom: 5px;
}

.delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #ff0000;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #cc0000;
}

.cards-container {
    flex: 1;
    overflow: scroll;
    padding: 20px;
    border-radius: var(--curve);
}

.cards-container.full-width {
    width: 100%;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 0;
    list-style-type: none;
}

.card {
    position: relative;
    display: block;
    width: 275px;
    height: 100%;
    min-width: 275px;
    border-radius: var(--curve) !important;
    overflow: hidden;
    text-decoration: none;
    background-color: var(--surface-color) !important;
    color: var(--text-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card__description {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    padding-top: 0 !important;
    color: var(--secondary-text-color);
}
.card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.boss-con {
    max-width: 275px;
    min-width: 275px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.card__image {
    width: 100%;
    height: auto;
}

.card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: var(--curve);
    background-color: var(--surface-color);
    transform: translateY(100%);
    transition: .2s ease-in-out;
}

.card:hover .card__overlay {
    transform: translateY(0);
}
.delete-button {
    opacity: 0;
}
.card:hover .delete-button {
    opacity: 1;
}
.card:hover img {
    transition: .3s ease-in-out;
    filter: brightness(65%)
}
.confirm-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9000;
}

.confirm-box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.card__header {
    position: relative;

    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: var(--curve) 0 0 0;
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
}

.card__header__header {
    background-color: var(--surface-color);
}

.card:hover .card__header {
    transform: translateY(0);
}

.filter-enter {
    transform: translateX(-100%);
}

.filter-enter-active {
    transform: translateX(0);
    transition: transform 300ms;
}

.filter-exit {
    transform: translateX(0);
}

.filter-exit-active {
    transform: translateX(-100%);
    transition: transform 300ms;
}

.filters__btn {
    background-color: var(--accent-color);
    color: var(--text-color);
    border-radius: var(--curve);
    padding: 10px 20px;
}

.filters__btn:hover {
    background-color: #3a58c8;
}

.sort-dropdown {
    background-color: var(--surface-color);
    border-radius: var(--curve);
    color: var(--text-color);
}

.sort-dropdown .MuiInputBase-input {
    color: var(--text-color);
}

.sort-dropdown .MuiOutlinedInput-notchedOutline {
    border-color: var(--text-color);
}
.css-480o17-MuiGrid-root {
    gap: 15px !important;
}
.MuiGrid-item {

    max-width: 275px !important;


}
