/* BookList.css */
:root {
    --surface-color: #fff;
    --curve: 40;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #fef8f8;
}

html, body {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin-bottom: 20px;
}

.search-box {
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex: 1;
}

.book-card {

    position: relative;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@media (min-width: 1200px) {
    .css-1oqqzyl-MuiContainer-root {
        max-width: 5000px;
    }
}

.card__title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff; /* Dark Mode Text Color */
}

.card__author {
    font-size: 16px;
    color: #bdbdbd; /* Dark Mode Author Text Color */
    margin-bottom: 5px;
}

.delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #212121; /* Dark Mode Button Background */
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #333333; /* Dark Mode Button Hover Background */
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}


.filter-menu {
    width: 300px;
    margin-right: 20px;
    background-color: transparent;
}

.filter-paper {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;


    border-radius: 8px;

}

.card__title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff; /* Dark Mode Text Color */
}

.card__author {
    font-size: 16px;
    color: #bdbdbd; /* Dark Mode Author Text Color */
    margin-bottom: 5px;
}

.delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #212121; /* Dark Mode Button Background */
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #333333; /* Dark Mode Button Hover Background */
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    justify-content: space-around;
    list-style-type: none;
}

.card {
    position: relative;
    display: block;
    width: 275px;
    height: 100%;
    min-width: 275px;
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
}
.boss-con {

    max-width: 275px;
    min-width: 275px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.conny-ponny {
    justify-content: space-around;
}
.card__image {
    width: 100%;
    height: auto;
}

.card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: calc(var(--curve) * 1px);
    background-color: var(--surface-color);
    transform: translateY(100%);
    transition: .2s ease-in-out;
}

.card:hover .card__overlay {
    transform: translateY(0);
}

.card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
}

.card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 1;
}

.card__arc path {
    fill: var(--surface-color);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
    transform: translateY(0);
}

.card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
}

.card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";
    font-size: .8em;
    color: #D7BDCA;
}

.card__status {
    font-size: .8em;
    color: #D7BDCA;
}

.card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #D7BDCA;
    font-family: "MockFlowFont";
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #ff0000;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #cc0000;
}
.filter-enter {
    transform: translateX(-100%);
}
.filter-enter-active {
    transform: translateX(0);
    transition: transform 300ms;
}
.filter-exit {
    transform: translateX(0);
}
.filter-exit-active {
    transform: translateX(-100%);
    transition: transform 300ms;
}

.cards-container.full-width {
    width: 100%;
}

.filter-menu {
    width: 300px;
    margin-right: 20px;
    background-color: transparent;
}

