.navigation-menu-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.menu-button {
    transition: transform 0.3s ease;
}

.menu-button.expanded {
    transform: translateY(10px);
}

.menu-items {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-items > button {
    margin-bottom: 8px;
}
